<section id="about" class="features">
    <div class="container">
        <div class="row">
                <div class="container-fluid">
                    <h1>About DeepInfer</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <p>DeepInfer is an open-source toolkit for deploying deep learning models
                                that are designed specifically for medical image analysis and processing.
                                It allows clinical researchers and biomedical engineers to deploy
                                pre-trained deep learning models and use task-specific deep models,
                                without the need for further software development and configuration.
                            DeepInfer promotes reproducible resarch and dissimination of knowledge
                            aquired with data-driven tools.</p>
                            <p></p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="//www.youtube.com/embed/7k_SLtmM2Kw"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="container-fluid">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <p>
                        DeepInfer is managed by deep learning researchers at Surgical Planning Laboratory at the Harvard Medical School,
                        Brigham & Women's Hospital and Robotics and Control Laboratory at University of British Columbia.
                    </p>
                </div>
            </div>
    </div>
</section>
