<section id="about" class="features">
    <div class="container">
        <div class="row">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <h1>About DeepInfer</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>DeepInfer is an open-source toolkit for medical image analysis and processing
                                with deep learning models. DeepInfer seamlessly integrates deep learning technology
                                into the existing medical image analysis platforms such as 3D Slicer.
                                It allows clinical researchers and biomedical engineers to deploy multi-platform
                                pre-trained deep learning models and use task-specific deep models,
                                without the need for further software development and configuration.</p>
                           <p> DeepInfer is supported by National Institutes of Health (NIH P41EB015898), National Center for Image Guided Therapy,
                               Engineering Research Council (NSERC) of Canada and the Canadian Institutes of Health Research (CIHR).</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="//www.youtube.com/embed/7k_SLtmM2Kw"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
