<section id="about" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Acknowledgements</h1>

                <p> DeepInfer is supported by National Institutes of Health (NIH P41EB015898, PI: Clare M. Tempany),
                    <a href="http://ncigt.org/">National Center for Image Guided Therapy</a>, Engineering Research
                    Council (NSERC) of Canada and the Canadian Institutes of Health Research (CIHR).</p>
            </div>
            </div>
            <h1>Citing DeepInfer</h1>
            <p>
                Please cite DeepInfer in your publications if it helps your research:
                <br>
                Mehrtash A., Pesteie M., Hetherington J., Behringer P.A., Kapur T., Wells W.M., Rohling R., Fedorov A.,
                Abolmaesumi P." <a href="https://www.ncbi.nlm.nih.gov/pubmed/28615794">DeepInfer: open-source deep
                learning deployment toolkit for image-guided therapy.</a>" <i>Proceedings of SPIE -- the International
                Society for Optical Engineering</i>, vol. 10135. NIH Public Access, 2017.
                <a href="https://www.researchgate.net/publication/314220707_DeepInfer_open-source_deep_learning_deployment_toolkit_for_image-guided_therapy">Download
                    PDF at ResearchGate</a>
            </p>
    </div>
</section>
