<section id="about" class="features">
    <div class="container">
        <div class="row">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <h1>Acknowledgements</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>DeepInfer is supported by National Institute of Health (NIH P41EB015898, PI: Clare M. Tempany) and Natural Sciences and
Engineering Research Council (NSERC) of Canada and the Canadian Institutes of Health Research (CIHR).</p>
                        </div>
                        </div>
                     <div class="col-md-12">
                        <h1>Citing DeepInfer</h1>
                         <p>
                         Please cite DeepInfer in your publications if it helps your research:
                         </p>
                         <li>
                             Mehrtash, Alireza, et al. "DeepInfer: open-source deep learning deployment toolkit for image-guided therapy." SPIE Medical Imaging. International Society for Optics and Photonics, 2017.
                         </li>
                    </div>
                        </div>

                    </div>
    </div>
</section>
