
<section id="contact">
    <div class="container">
       <h1>Contact</h1>
       <p>DeepInfer is an open-source project, and we welcome your feedback, feature requests, and patches.
           There are several ways to contribute to the project.
           If you have questions regarding the project or potential collaborations, please feel free to contact:
        <a href="http://www.spl.harvard.edu/pages/People/mehrtash">Alireza Mehrtash</a>, Department of Radiology, Brigham and Women’s Hospital.
       <h1>Contributors</h1>
        <li>
            <a href="http://www.linkedin.com/in/alireza-mehrtash-21b01b41/"> Alireza Mehrtash</a>, Brigham and Women's Hospital, University of British Columbia.
        </li>
        <li>
            <a href="http://www.linkedin.com/in/mehran-pesteie-7658645b/"> Mehran Pesteie</a>, University of British Columbia.
        </li>
       </p>
    </div>
</section>
