<footer style="margin-top: 50px">
    <div class="container">
        <p style="font-size: medium"><strong><i class="fa fa-question-circle-o"></i> Get Help: </strong>Have a question? <a href="https://goo.gl/forms/qNarFutbocxZLkpr1" style="color: silver">Contact us.</a></p>
        <p style="font-size: medium">DeepInfer is managed by deep learning researchers at
            <a href="http://www.spl.harvard.edu/" style="color: grey">Surgical Planning
            Laboratory</a> at the Harvard Medical School, Brigham & Women's Hospital and
            <a href="http://rcl.ece.ubc.ca/" style="color: grey">Robotics and Control Laboratory</a> at University of British
            Columbia.</p>
        <br>
        <p>&copy; 2016-2017 DeepInfer Community.</p>
    </div>
</footer>
