<header>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Deep<strong>Infer</strong></h1>
                        <h2 class="text-center">Deep learning deployment toolkit and model registry for medical
                            data</h2>
                        <!--a href="https://www.slicer.org/wiki/Documentation/Nightly/Modules/DeepInfer" class="btn btn-outline btn-xl page-scroll">GET STARTED</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="landing" class="features">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="/img/deepinferlogo.png" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3>DeepInfer 1.0 has released!</h3>
                        <p>We're thrilled to announce that DeepInfer version 0.1 has been released with new models for
                            medical image analysis.</p>
                        <a href="/pages/install/" class="btn btn-xl">Install Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="/img/Octocat.jpg" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3>Submit your deep model</h3>
                        <p>Get exposure and boost reproducible research by sharing your deep learning models.</p>
                        <a href="/pages/contribute/" class="btn btn-xl">Contribute</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="/img/network.png" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3></h3>
                        <h3>Model registry</h3>
                        <p>DeepInfer model registery is a growing collection of deep learning models for medical image
                            analysis.</p>
                        <a href="/pages/models/" class="btn btn-xl">Browse Models</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h1>About DeepInfer</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>- DeepInfer is an open-source toolkit for deploying deep learning models
                        that are designed specifically for medical image analysis and processing.
                        <br>
                        - DeepInfer allows clinical researchers and biomedical engineers to deploy
                        pre-trained deep learning models and use task-specific deep models,
                        without the need for further software development and configuration.
                        <br>
                        - DeepInfer promotes reproducible resarch and dissimination of knowledge
                        aquired with data-driven tools.</p>
                    <p></p>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="//www.youtube.com/embed/7k_SLtmM2Kw"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>About Us</h1>
            <p>
                DeepInfer is managed by deep learning researchers at
                <a href="http://www.spl.harvard.edu/">Surgical Planning Laboratory</a>
                at the Harvard Medical School,
                Brigham & Women's Hospital and
                <a href="http://rcl.ece.ubc.ca/">Robotics and Control Laboratory</a>
                at University of British
                Columbia.
            </p>
        </div>
    </div>
</div>

<!--
<section id="solutions" class="features bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Organ-based Models</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Brain-1 text-primary"></i>
                        <h3>Brain</h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Heart text-primary"></i>
                        <h3>Heart</h3>
                    </div>
                </div>
                 <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Bronchi text-primary"></i>
                        <h3>Lungs</h3>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Prostate text-primary"></i>
                        <h3>Prostate</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Spinal-cord-m text-primary"></i>
                        <h3>Spine*</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Eye-b text-primary"></i>
                        <h3>Eyes*</h3>
                    </div>
                </div>
                <p>* Coming soon.</p>
            </div>
        </div>
    </div>
</section>
-->

