<header>
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2>Deep learning deployment toolkit for medical imaging</h2>
                        <a href="https://www.slicer.org/wiki/Documentation/Nightly/Modules/DeepInfer" class="btn btn-outline btn-xl page-scroll">GET STARTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
