<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
			    <h2><b>DeepInfer</h2>
			    <h1>Deep learning deployment toolkit for medical imaging</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Learn more.</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
		    </br></br></br>
                <div class="device-container">
                    <div class="device-mockup macbook">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </divi>
        </div>
    </div>
</header>
