<header>
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2><b>DeepInfer</b></h2>
                        <h1>Deep Learning Deployment Toolkit for Medical Imaging</h1>
                        <h2>About DeepInfer</h2>
                        <p style="text-align:justify">DeepInfer is an open-source toolkit for medical image analysis and processing
                            with deep learning models. DeepInfer seamlessly integrates deep learning technology
                            into the existing medical image analysis platforms such as 3D Slicer.
                            It allows clinical researchers and biomedical engineers to deploy multi-platform
                            pre-trained deep learning models and use task-specific deep models,
                            without the need for further software development and configuration.
                        </p>
                        <a href="#" class="btn btn-outline btn-xl page-scroll">GET STARTED</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="device-container">
                    <div class="device-mockup macbook">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</header>
