<header style="min-height:80px;margin-top: 50px;text-align: left)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Install and usage guide</h2>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="container row" id="InstallDeepInfer">
                <h1>DeepInfer Installation and Usage Guide</h1>
                <p>We have tested DeepInfer on the following 64-bit desktop and laptop operating systems:</p>
                <ul>
                    <li>Ubuntu 14.04 or later</li>
                    <li>MacOS X 10.11 (El Capitan) or later.</li>
                    <li>Windows 10 or later.</li>
                </ul>
                <p>DeepInfer installation requires installing Docker and 3D Slicer wich are explained in the
                    following
                    sections:</p>

                      <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="/img/docker-logo.png" class="img-rounded" height="100">
                    </div>
                    <div class="col-lg-6">
                        <h3>Install Docker.</h3>
                        <p>The first step is to make a docker image containing your deep model, model weights, and required libraries
                            and share it on DockerHub.</p>
                        <a href="#">Docker Installation Guide &#8250;</a>

                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="/img/slicer.png" class="img-rounded" height="100">
                    </div>
                    <div class="col-lg-6">
                        <h3>Install 3D Slicer.</h3>
                        <p>DeepInfer supports a standard JSON descriptor fomrat which descibes model attributes,
                            inputs, and outputs. </p>
                        <a href="#">3D Slicer Installation Guide &#8250;</a>

                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="/img/deepinferlogo.png" class="img-rounded" height="100">
                    </div>
                    <div class="col-lg-6">
                        <h3>Get the DeepInfer App.</h3>
                        <p>DeepInfer supports a standard JSON descriptor fomrat which descibes model attributes,
                            inputs, and outputs. </p>
                        <a href="#">JSON Guide &#8250;</a>

                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="/img/network.png" class="img-rounded" height="100">
                    </div>
                    <div class="col-lg-6">
                        <h3>DeepInfer Usage Guide.</h3>
                        <p>DeepInfer supports a standard JSON descriptor fomrat which descibes model attributes,
                            inputs, and outputs. </p>
                        <a href="#">JSON Guide &#8250;</a>

                    </div>
                </div>

                <h3>1. Docker installation</h3>
                <p>In order to use DeepInfer, <a href="https://www.docker.com/">Docker</a> is required to be
                    installed
                    and configured properly. Here are links for installing Docker CE (community edition) on
                    supported
                    operating systems:</p>
                <ul>
                    <li><a href="https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/">Ubuntu</a>
                    </li>
                    <li><a href="https://docs.docker.com/docker-for-mac/install/">Mac OS X</a></li>
                    <li><a href="https://docs.docker.com/docker-for-windows/install/">Windows</a></li>
                </ul>
                <p>Once you installed Docker you should validation your installation.</p>
                <h3>2. Validating Docker Installation</h3>
                <p>Start a terminal and run the following commands to make sure Docker is installed and configured
                    properly:</p>
                <h4>Test installation</h4>
                <p>Type the following command in your shell:</p>
                <pre>$ <b>docker -v</b></pre>
                <p>If docker is installed correctly you will see a message like:</p>
                <pre><b>Docker version 17.09.0-ce, build afdb6d4</b></pre>
                <h4>Test pull and run</h4>
                <p>First pull the hello-world docker:</p>
                <pre>$ <b>docker pull hello-world</b></pre>
                <p>After pulling is complete run the following command:</p>
                <pre>$ <b>docker run hello-world</b></pre>
                <p>You should see the following output:</p>
                <pre><b>Hello from Docker!<br>This message shows that your installation appears to be working correctly.</b><br>...</pre>

                <hr>
                <h3>3. 3D Slicer installation</h3>
                <p>DeepInfer can be used through 3D Slicer or independantly as a command-line user interface. Here
                    we
                    explain
                    how to install and used it through 3D Slicer.</p>

                <h3>4. Get the DeepInfer App</h3>

                <p>You should now test your installation</a>.</p>

                <h3>5. Test your installation</h3>
                <h4>Command line</h4>
                <p>Pull the deepinfer example docker (you need to have at least 4GB of free storage on your Docker
                    drive):</p>
                <pre>$ <b>docker pull deepinfer/example</b></pre>
                <p>Once the pulling is finished run the following</p>

                <h4>3D Slicer</h4>

            </div>

            <div class="container row" id="UseDeepInfer"><br><br><br>
                <h1>DeepInfer usage guide</h1>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
                <p>Once you installed and tested DeepInfer you can download your required models from model registry and use them for inference.</p>
            </div>

        </div>
    </div>
</div>

