<section id="landing" class="features">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/deepinferlogo.png" class="img-rounded" height="220">
                        <i class="text-primary"></i>
                        <h3>DeepInfer 0.1 released!</h3>
                        <p>We're thrilled to announce that DeepInfer version 0.1 has been released. Download the
                            DeepInfer through 3D Slicer.</p>
                        <a href="https://www.slicer.org/wiki/Documentation/Nightly/Modules/DeepInfer" class="btn btn-xl">Install Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/Octocat.jpg" class="img-rounded" height="220">
                        <h3>Contribute your work to the DeepInfer</h3>
                        <p>Extend DeepInfer by submitting your machine learning models to our model registry.
                            Allow thousands of medical imaging researchers who are using 3D Slicer to discover and use
                            your models.</p>
                        <!--a href="#" class="btn btn-xl">Learn How</a-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/network.png" class="img-rounded" height="220">
                        <h3>Artificial Intelligence for better care</h3>
                        <p>Data driven solutions based on machine learning are changing radiology.
                            AI models trained on imaging datasets can aid clinicians in making decisions leading to
                            better care.</p>
                        <!--a href="#" class="btn btn-xl">Read More</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
