<section id="landing" class="features">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/deepinferlogo.png" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3>DeepInfer 1.0 has released!</h3>
                        <p>We're thrilled to announce that DeepInfer version 0.1 has been released with new models for medical image analysis.</p>
                        <a href="#" class="btn btn-xl">Install Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/Octocat.jpg" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3>Contribute your AI
                            model</h3>
                        <p>Boost reproducible research and get exposure by sharing your deep learning models.</p>
                        <a href="#" class="btn btn-xl">Learn How</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <img src="img/network.png" class="img-rounded" height="150">
                        <i class="text-primary"></i>
                        <h3></h3>
                        <h3>Available Models</h3>
                        <p>Try the deoployed models for several medical image analysis tasks for different oragns and modalities.</p>
                        <a href="#" class="btn btn-xl">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
