<header style="min-height:80px;margin-top: 50px;text-align: left">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Models</h2>
            </div>
        </div>
    </div>
</header>
<body>
<section id="about" class="features">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <!--p>Introduction about DeepInfer Model Registry, reproducible research, exposing and ... and a link to
                    the contribution page</p-->
                <h1>Model collection</h1>
                <p>The following table shows the list of available models in the current version of DeepInfer. For full
                    model description and usage guide click on the model name.</p>

                Filter table: <input type="text" id="filterText" onkeyup="filterTable()" placeholder="">


                <table class="table table-striped" id="modelTable">
                    <thead>


                    <tr>
                        <th>Model Name</th>
                        <th>Organ</th>
                        <th>Task</th>
                        <th>Modality</th>
                        <th># of Train/Test</th>
                        <th>Performance</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in site.pages%}
                        {% if page.type == "model" %}
                            <tr>
                                <td><a href="{{page.url}}">{{page.model-name}}</a></td>
                                <td>{{page.organ}}</td>
                                <td>{{page.task}}</td>
                                <td>{{page.modality}}</td>
                                <td>{{page.train_no}} / {{page.test_no}}</td>
                                <td>{{page.performance}}</td>
                                <td>{{page.description}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>
<script>
    function filterTable() {
        var input, filter, table, tr, td, i, cleardisplay;
        input = document.getElementById("filterText");
        filter = input.value.toUpperCase();
        table = document.getElementById("modelTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            cleardisplay = true;
            for (j = 1; j < td.length; j++) {
                if (td[j]) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) !== -1) {
                        cleardisplay = false;
                    }
                }
            }
            if (cleardisplay == true) {
                tr[i].style.display = "none";
            }
            else {
                tr[i].style.display = "";
            }
        }
    }
</script>
</body>
