<header style="min-height:80px;margin-top: 50px;text-align: left">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Available Models</h2>
            </div>
        </div>
    </div>
</header>

<section id="about" class="features">
    <div class="container">
        <div class="row">
            <div class="container-fluid">
                <p>Introduction about DeepInfer Model Registry, reproducible research, exposing and ... and a link to
                    the contribution page</p>
                <h2>Available models</h2>
                <p>The following talbe shows the list of available models in the current version of DeepInfer. For full
                    model description click on the model name.</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Model Name</th>
                        <th>Organ</th>
                        <th>Task</th>
                        <th>Modality</th>
                        <th># of Train/Test</th>
                        <th>Performance</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="#Brain-Extractor">Brain-Extractor</a></td>
                        <td>Brain</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td>80 / 30</td>
                        <td>Dice: %96 (Test)</td>
                        <td>Brain Extractor (Skull Stripper) trained on brain cancer patients MRIs.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="#Brain-Tumor-Segmenter">Brain-Tumor-Segmenter</a></td>
                        <td>Brain</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td>80 / 30</td>
                        <td>Dice: %86, %60, %40(Test)</td>
                        <td>Brain tumor segmentation into core, enhancing an edema.</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a href="#WMH-Segmenter">WMH-Segmenter</a></td>
                        <td>Brain</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td>80 / 30</td>
                        <td>Dice: %86(Cross-validation)</td>
                        <td>White matter hyperintensity segmentation on T1-W and FLAIR MRI sequences.</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a href="#ACDC">ACDC</a></td>
                        <td>Cardiac</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td>80 / 30</td>
                        <td>Dice: %86, %60, %40(Test)</td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a href="#Left-Ventricle-Segmenter">Left-Ventricle-Segmentation</a></td>
                        <td>Cardiac</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td>80/0</td>
                        <td>Dice: %80</td>
                        <td>Left ventricle segmentation trained on Stony brook dataset.</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><a href="#Lung-Segmenter">Lung-Segmenter</a></td>
                        <td>Lung</td>
                        <td>Segmentation</td>
                        <td>CT</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a href="#Lung-Nodule-Segmenter">Lung-Nodule-Segmenter</a></td>
                        <td>Lung</td>
                        <td>Segmentation<br>localization</td>
                        <td>CT</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a href="#Prostate-Segmenter">Prostate-Segmenter</a></td>
                        <td>Prostate</td>
                        <td>Segmentation</td>
                        <td>MRI</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td><a href="#Prostate-Cancer-Diagnosis">Prostate-Cancer-Diagnosis</a></td>
                        <td>Prostate</td>
                        <td>Segmentation<br>Localization</td>
                        <td>MRI</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td><a href="#Cell-Segmenter">Cell-Segmenter</a></td>
                        <td>Cell/Pathology</td>
                        <td>Segmentation<br>Localization</td>
                        <td>Microscopy</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td><a href="#Prostate-Needle-Finder">Prostate-Needle-Finder</a></td>
                        <td>External object</td>
                        <td>Segmentation<br>Localization</td>
                        <td>MRI</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    </tbody>
                    <tr>
                        <th scope="row">12</th>
                        <td><a href="#Needle-Finder">Needle-Finder</a></td>
                        <td>External object</td>
                        <td>Segmentation<br>Localization</td>
                        <td>MRI</td>
                        <td></td>
                        <td></td>
                        <td>.</td>
                    </tr>
                    </tbody>

                </table>

                <h2>Model descriptions</h2>
                <p>Here is a list of available models categorized based on the anatomical organ:</p>
                <section id="Brain"><br>
                    <h2>Brain</h2>

                    <section id="Brain-Extractor"><br>
                        <h1>Brain-Extractor</h1>
                    </section>

                    <section id="Brain-Tumor-Segmenter"><br>
                        <h1>Brain-Tumor-Segmenter</h1>
                    </section>

                    <section id="WMH-Segmenter"><br>
                        <h1>WMH-Segmenter</h1>
                    </section>
                    <hr>

                    <h2>Cardiac</h2>
                    <h1>ACDC</h1>
                        <section id="Left-Ventricle-Segmenter"><br>
                            <h1>Left-Ventricle-Segmenter</h1>
                        </section>
                        <hr>

                        <h2>Lung</h2>
                        <section id="Lung-Segmenter"><br>
                            <h1>Lung-Segmenter</h1>
                        </section>

                        <section id="Lung-Nodule-Segmenter"><br>
                            <h1>Lung-Nodule-Segmenter</h1>
                        </section>
                        <hr>
                </section>

                <h2>Prostate</h2>

                <section id="Prostate-Segmenter"><br>
                    <h1>Prostate-Segmenter</h1>

                    <h3> Model parameters:</h3>
                    <ul>
                        <li>Brief description: Whole-gland prostate segmentation in pelvic Axial T2-W MRI scans.</li>
                        <li>Modality: MRI</li>
                        <li>Input: Pelvic T2-W MRI</li>
                        <li>Size: 6.8 GB</li>
                        <li>contact: mehrtash at bwh.harvard.edu</li>
                        <li>Manuscript / documentation:</li>
                    </ul>
                    <p>Prostate segmenter has multiple models trained on different datasets and two types of models.</p>
                    <h3>Slicer User interface guide</h3>

                    <h3>Command-line interface guide</h3>

                    <h3>Related blog posts</h3>
                    <ul>
                        <li><a href="/jekyll/2017/06/10/prostate-volume-measurement/">Prostate volumetric measurements
                            in MRI with DeepInfer and 3D Slicer</a></li>
                    </ul>

                </section>

                <section id="Prostate-Cancer-Diagnosis"><br>
                    <h1>Prostate-Cancer-Diagnosis</h1>
                </section>
                <hr>

                <h2>Pathology/Microscopy</h2>
                <section id="Cell-Segmenter"><br>
                    <h1>Cell-Segmentater</h1>
                </section>

                <hr>
                <h2>External objects</h2>
                <section id="Prostate-Needle-Finder"><br>
                    <h1>Prostate-Needle-Finder</h1>
                </section>

                <section id="Needle-Finder"><br>
                    <h1>Needle-Finder</h1>
                </section>


            </div>
        </div>
    </div>
</section>

