<section id="solutions" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Organ-based Models</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Brain-1 text-primary"></i>
                        <h3>Brain</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Prostate text-primary"></i>
                        <h3>Prostate</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Heart text-primary"></i>
                        <h3>Heart</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Spinal-cord-m text-primary"></i>
                        <h3>Spine</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Bronchi text-primary"></i>
                        <h3>Lungs</h3>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="feature-item">
                        <i class="icon-Organs__20161110_Eye-b text-primary"></i>
                        <h3>Eyes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
